@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap');

body::-webkit-scrollbar {
    width: 12px;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(164, 101, 223);
    background-image: -webkit-linear-gradient(90deg,
            transparent,
            rgba(0, 0, 0, 0.4) 50%,
            transparent,
            transparent)
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: url('img/bg.jpg');
    height: 1000px;
    background-size: cover;
    background-position: center;
}

.navbar {
    height: 70px;
    background: rgba(0, 0, 0, 0.6);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

ul.menu {
    font-size: 1.3em;
    height: 70px;
    align-items: center;
    list-style: none;
    display: flex;
}

ul.menu li {
    margin-right: 2em;
}

ul.menu li a {
    color: white;
    text-decoration: none;
}

ul.menu li:hover {
    background: rgb(0, 0, 0);
}

ul.menu li:hover ul.submenu, ul.menu li:focus-within ul.submenu {
    display: block;
}

.info {
    margin: 50px;
    display: flex;
    height: 750px;
    align-items: center;
    justify-content: center;
}

.info-content {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3em;
    background: rgba(17, 17, 17, 0.884);
    width: 600px;
}

.info-content h1 {
    font-size: 2em;
}

.info-content p {
    text-align: left;
    margin-top: 0.5em;
    font-size: 1.5em;
}

footer {
    text-align: center;
    color: white;
    height: 20px;
    padding: 1.5em;
    background: #444;
}